<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Application</a></li>
  <li ><a href="#">Biographical Data</a></li>
  <li ><a href="#">Course</a></li>
  <li class="active">Education</a></li>
</ol>
<%= form_for  @education,:url=>education_save_data_path,:remote=>true, :method=>"POST" do |f| %>
<div class="clearfix">
   <%= f.label :completion_year%>
  <div class="input">
    <%= f.text_field :completion_year%>
  </div>
</div>

<div class="clearfix">
   <%= f.label :completed_qualification%>
  <div class="input">
    <%= f.text_field :completed_qualification %>
  </div>
</div>
<div class="clearfix">
   <%= f.label :final_result%>
  <div class="input">
    <%= f.select :final_result, options_for_select([["Pass" , "Pass" ],["Fail" , "Fail" ]]) %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :endorsment%>
  <div class="input">
    <%= f.text_field :endorsment%>
  </div>
</div>
<div class="clearfix">
   <%= f.label :subject_1%>
  <div class="input">
    <%= f.text_field :subject_1%>
  </div>
</div>

<div class="clearfix" style="margin-left: 290px; margin-top: -61px;" >
 <%= f.label :mark_1%>
<%= f.select 'mark_1', options_for_select([["60-70" , "60-70" ],["71-80" , "71-80" ],["81-90" , "81-90" ]])%>
</div>
  
  <div class="input">
    <%#= f.text_field :mark_1%>
  </div>
</div>
<div class="clearfix">
   <%= f.label :subject_2%>
  <div class="input">
    <%= f.text_field :subject_2%>
  </div>
</div>

<div class="clearfix" style="margin-left: 290px; margin-top: -61px;" >
 <%= f.label :mark_2%>
<%= f.select 'mark_2', options_for_select([["60-70" , "60-70" ],["71-80" , "71-80" ],["81-90" , "81-90" ]])%>
</div>

<div class="clearfix">
   <%= f.label :subject_3%>
  <div class="input">
    <%= f.text_field :subject_3%>
  </div>
</div>

<div class="clearfix" style="margin-left: 290px; margin-top: -61px;" >
 <%= f.label :mark_3%>
<%= f.select 'mark_3', options_for_select([["60-70" , "60-70" ],["71-80" , "71-80" ],["81-90" , "81-90" ]])%>
</div>
<div class="clearfix">
   <%= f.label :subject_4%>
  <div class="input">
    <%= f.text_field :subject_4%>
  </div>
</div>

<div class="clearfix" style="margin-left: 290px; margin-top: -61px;" >
 <%= f.label :mark_4%>
<%= f.select 'mark_4', options_for_select([["60-70" , "60-70" ],["71-80" , "71-80" ],["81-90" , "81-90" ]])%>
</div>
</div>
<div class="clearfix">
   <%= f.label :subject_5%>
  <div class="input">
    <%= f.text_field :subject_5%>
  </div>
</div>
<div class="clearfix" style="margin-left: 290px; margin-top: -61px;" >
 <%= f.label :mark_5%>
<%= f.select 'mark_5', options_for_select([["60-70" , "60-70" ],["71-80" , "71-80" ],["81-90" , "81-90" ]])%>
</div>
<div class="clearfix">
   <%= f.label :subject_6%>
  <div class="input">
    <%= f.text_field :subject_6%>
  </div>
</div>

<div class="clearfix" style="margin-left: 290px; margin-top: -61px;" >
 <%= f.label :mark_6%>
<%= f.select 'mark_6', options_for_select([["60-70" , "60-70" ],["71-80" , "71-80" ],["81-90" , "81-90" ]])%>
</div>
<div class="clearfix">
   <%= f.label :subject_7%>
  <div class="input">
    <%= f.text_field :subject_7%>
  </div>
</div>

<div class="clearfix" style="margin-left: 290px; margin-top: -61px;" >
 <%= f.label :mark_7%>
<%= f.select 'mark_7', options_for_select([["60-70" , "60-70" ],["71-80" , "71-80" ],["81-90" , "81-90" ]])%>
</div>
<div class="clearfix">
   <%= f.label :subject_8%>
  <div class="input">
    <%= f.text_field :subject_8%>
  </div>
</div>

<div class="clearfix" style="margin-left: 290px; margin-top: -67px;" >
 <%= f.label :mark_8%>
<%= f.select 'mark_8', options_for_select([["60-70" , "60-70" ],["71-80" , "71-80" ],["81-90" , "81-90" ]])%>
</div>
<div class="clearfix">
   <%= f.label :subject_9%>
  <div class="input">
    <%= f.text_field :subject_9%>
  </div>
</div>

<div class="clearfix" style="margin-left: 290px; margin-top: -61px;" >
 <%= f.label :mark_9%>
<%= f.select 'mark_9', options_for_select([["60-70" , "60-70" ],["71-80" , "71-80" ],["81-90" , "81-90" ]])%>
</div>
<%= hidden_field_tag "course_id", @course.id %>
<div class="form-actions">
  

  <button class="btn primary" type="submit">Save</button> 
</div>
<% end %>


<button class="btn primary back_2" type="submit" style="margin-left: 373px; margin-top: -140px;">back</button> 

 <script>
  $(document).ready(function(){
    $(".back_2").click(function(){
        $.ajax({
            type : 'POST',
            url : '<%= save_biographical_data_path%>',
            data: {'course_back_id' : "<%=@course.id%>"},
             success: function () {
             }
           })
     });
  }); 
 </script> 