
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Application</a></li>
  <li ><a href="#">Biographical Data</a></li>
   <li class="active">Course</li>
</ol>

<%= form_for @course,:url=>course_qualification_save_path,:method=>"POST" do |f| %>
<div class="clearfix">
   <%= f.label :educational_institution%>
  <div class="input">
    <%= f.text_field :educational_institution%>
    <%= f.select :educational_institution, options_for_select([["University ABC" , "University ABC" ],["University  DCA" , "University  DCA" ]]) %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :course_reapplied%>
  <div class="input">
    <%= f.select :course_reapplied, options_for_select([["Maths" , "Maths" ],["English" , "English" ]]) %>
  </div>
</div>
<div class="clearfix">
   <%= f.label :region%>
  <div class="input">
    <%= f.text_field :region %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :field_of_study%>
  <div class="input">
    <%= f.text_field :field_of_study%>
  </div>
</div>
<%= hidden_field_tag "biographical_data_id", @biographicaldata.id %>
<div class="form-actions">

 
  
  <button class="btn primary" type="submit">Save</button> 
</div>
<% end %>
<%= link_to "Back", root_path(id: @biographicaldata.id), :class=>"btn primary", :style=>"margin-left: 373px; margin-top: -140px;"%>
