<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Application</a></li>
  <li ><a href="#">Biographical Data</a></li>
  <li ><a href="#">Course</a></li>
  <li ><a href="#">Education</a></li>
  <li class="active">Refrences</a></li>
</ol>


<table class="table">
<tr>
<th>Refrences Activity Descritpion </th>
<th></th>
<th></th>
</tr>
<% @education_refrences.each do |refrences| %>
<tr>
<td><%=refrences.activity_description_place %></td>
<td><%=link_to "Edit", reference_path(:ref_id=>refrences.id, :education_id => @education.id ) %></td>
<td><%=link_to "Delete", destroy_ref_data_path(:ref_id=>refrences.id, :education_id => @education.id ), :confirm => 'Are you sure?'  %></td>
</tr>
<% end %>
</table>

<%= form_for @refrence,:url=>referral_data_save_path,:method=>:post, :html => { :multipart => true } do |f| %>
<div class="clearfix">
   <%= f.label :activity_description_place %>
  <div class="input">
    <%= f.text_area :activity_description_place,:rows=>5,:cols=>40%>
  </div>
</div>

<div class="clearfix">
   <%= f.label :expirience_from_activity%>
  <div class="input">
    <%= f.text_area :expirience_from_activity,:rows=>5,:cols=>40 %>
  </div>
</div>
<div class="clearfix"  >
 <%= f.label :skill_1%>
<%= f.select 'skill_1', options_for_select([["Programming" , "Programming" ],["Communication" , "Communication" ],["Art" , "Art" ]])%>
</div>

<div class="clearfix"  style="margin-left: 290px; margin-top: -67px;">
   <%= f.label :skill_1_description%>
  <div class="input">
    <%= f.text_field :skill_1_description%>
  </div>
</div>

<div class="clearfix"  >
 <%= f.label :skill_2%>
<%= f.select 'skill_2', options_for_select([["Programming" , "Programming" ],["Communication" , "Communication" ],["Art" , "Art" ]])%>
</div>

<div class="clearfix" style="margin-left: 290px; margin-top: -67px;">
   <%= f.label :skill_2_description%>
  <div class="input">
    <%= f.text_field :skill_2_description%>
  </div>
</div>
<div class="clearfix"  >
 <%= f.label :skill_3%>
<%= f.select 'skill_3', options_for_select([["Programming" , "Programming" ],["Communication" , "Communication" ],["Art" , "Art" ]])%>
</div>

<div class="clearfix" style="margin-left: 290px; margin-top: -67px;">
   <%= f.label :skill_3_description%>
  <div class="input">
    <%= f.text_field :skill_3_description%>
  </div>
</div>
<%= hidden_field_tag "education_id", @education.id %>
<%= hidden_field_tag "ref_id", @refrence.id %>

<%= file_field_tag "ref_document[]" , :multiple=>true%>
<div id="document_div">
  <% if !@attached_files.nil? %>
    <table class="table">
      <tr>
        <th>Upload Name </th>
        <th></th>
        <th></th>
      </tr>
      <% @attached_files.each do |attached_files| %>
        <tr>
          <td><%= attached_files.ref_document_file_name %></td>
          <td></td>
          <td><%=link_to "Delete", destroy_ref_document_path(:file_id => attached_files.id, :education_id => @education.id), :confirm => 'Are you sure?'  %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> 
</div>
<% end %>
<%= link_to "Back", education_path(education_id: @education.id), :class=>"btn primary", :style=>"margin-left: 373px; margin-top: -140px;"%>

<%= link_to "Next", supporting_documents_path, :class=>"btn primary", :style=>"margin-left: 373px; margin-top: -140px;"%>



